.home-container {
    text-align: center;
    height: 100vh;
}

.Home-subTitle{
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    color: #BA1200;
}

.products-container-home {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;


}