.navbar{
background-color: #52489C;


}

.logo{
    
    height: 140px;
    border-radius: 50%;
    border: solid rgba(0, 0, 0, 0.479);
    box-shadow: -3px 1px 40px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 1px 40px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 1px 40px 6px rgba(0,0,0,0.75);
}
.botones{
    display: inline-block;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #BA1200;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 120px;
}

.botones:hover{
    background-color: #536B78;
    color: white;
}

.botones:active{
    background-color: #BA1200;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

.carrito{
    width: 40px;
    height: 40px;
}

.carrito:hover{
    background-color: #536B78;
    border-radius: 50%;
    color: white;
}

.carrito:active{
    background-color: #BA1200;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
