.navbar{
background-color: #8168e5;


}

.logo{
    
    height: 140px;
    border-radius: 50%;
    border: solid rgba(0, 0, 0, 0.479);
    box-shadow: -3px 1px 40px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 1px 40px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 1px 40px 6px rgba(0,0,0,0.75);
}


.home{
    text-decoration: none;
    color: #fff;
}

.products{
    text-decoration: none;
    color: #fff;
}



.cart{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-container{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    z-index: 1;
    
}

.number-cart{
    background-color: #BA1200;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    position: absolute;

}

.cart:hover{
    background-color: #536B78;
    border-radius: 50%;
    color: white;
}

.cart:active{
    background-color: #BA1200;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
